
.wrap-header {
    width: 100%;
    background-color: white;
    display: flex;
    
}
.logo a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 10%;
    background-color: white;
    border-bottom: 1px solid #eee;
}
header ul {
    display: flex;
    margin: 0; padding: 0;
    list-style: none;
    text-align: center;
    gap: 30px;
}
header nav {
    margin-left: auto;
    margin-right: 10px;
}
header button {
    color: white;
    border: 0;
    background-color: black;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
}
header ul li a {
    text-decoration: none;
    color:black;
    font-size: 16px;
}
img {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}
.highlight {
    font-size: 3rem;
    font-weight: bold;
    color: black;
}
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10%;
    background-color: white;
}
section {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 10%;
    flex-wrap: wrap;
    align-items: stretch;
}
.detail-btn {
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 0;
    margin-top: 15px;
    cursor: pointer;
    margin-top: auto;
    letter-spacing: 1px;
    margin-top: auto;
}
section .card .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card {
    flex: 1;
    min-width: 200px;
    max-width: 280px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}
.card-title{
    text-align: center;
}
.card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
main .card-image img {
    height: auto;
    width: 450px;
}
.date {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}
.date1 {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 35px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.date2 {
    background-color: white;
    border: 2px solid black;
    padding: 10px 25px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}
footer {
    width: 100%;
    text-align: center;
}